#btn-1 {
    border: none;
    color: white;
    padding: 13px 35px;
    margin: 10px 0 20px 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 68, 0, 0.533);

    &:hover {
        transform: scale(1.1);
        background-color: rgb(31, 31, 42);
    }
}

.btn-2 {
    border: none;
    color: white;
    padding: 13px 35px;
    margin: 10px 0 20px 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 68, 0, 0.533);

    &:hover {
        transform: scale(1.1);
        background-color: rgb(31, 31, 42);
    }
}


.btn-3 {
    border: none;
    color: white;
    padding: 13px 35px;
    margin: 10px 0 20px 0;
    transition: all 0.3s ease-in-out;
    background-color: rgb(31, 31, 42);

    &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 68, 0, 0.533);
    }
}