@import 'mixin.scss';
// @import 'global.scss';
// @import 'variables.scss';

* {
    background-color: #292b33;
}

#cont-cards {
    padding: 25px 0;
}

.card-body,
h5,
h6,
i {
    background-color: white;
}

#cont-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.circle {
    @include circle(300px);
}

#c1 {
    @include circle(270px);
    @include backgroundImage("https://images3.alphacoders.com/134/thumb-1920-1348349.png");
    top: 8%;
    left: 20%;
}

#c2 {
    @include circle(115px);
    // @include backgroundImage("https://avatarfiles.alphacoders.com/375/thumb-1920-375347.png");
    border: 23px solid #f58d54;
    left: 15%;
}

#c3 {
    @include circle(360px);
    @include backgroundImage("https://images8.alphacoders.com/135/thumb-1920-1355266.jpeg");
    // border: 20px solid white;
    left: 25%;
    bottom: 10%;
    z-index: 2;
}

#c4 {
    @include circle(650px);
    @include backgroundImage("https://images7.alphacoders.com/135/thumb-1920-1354163.jpeg");
    // border: 10px solid white;
    bottom: 23%;
    right: 18%;
}

#c5 {
    @include circle(230px);
    // @include backgroundImage("https://avatarfiles.alphacoders.com/375/thumb-1920-375347.png");
    border: 40px solid #6c738a;
    right: 17%;
    bottom: 10%;
}

#cont-text {
    text-align: center;
}

#link {
    display: inline-block;
    @include dFlex();
    background-color: #f37835;
    color: white;
    height: 35px;
    width: 15%;
    border-radius: 20px;

    &:hover {
        background-color: #ef844b;
    }

    margin: auto;
}

link,
a {
    @include dFlex();
    background-color: transparent;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}